[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
cryptography = "*"
python-multipart = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "uvicorn main:app --reload"
proxy = "traefik --configFile=traefik.toml"